################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/FolderProfile.pubxml.user
/.vs
/build
/installers/SdAccess
/installers/SdDbAccess_client
/installers/SnaTester
/sourcecode/alpha/SNAW3/.vs
/sourcecode/alpha/SNAW3/SdAccess/obj
/sourcecode/alpha/SNAW3/SdAccess/Debug
/sourcecode/alpha/SNAW3/SdAccess/Release
/sourcecode/alpha/SWA4/.vs
/sourcecode/alpha/SWA4/WebApi/obj
/sourcecode/alpha/SWA4/WebApi/bin/
/sourcecode/alpha/SWA4/LogicTier/obj
/sourcecode/alpha/SWA4/LogicTier/Debug
/sourcecode/alpha/SWA4/LogicTier/Release
/sourcecode/alpha/SWA4/DataTier/obj
/sourcecode/alpha/SWA4/DataTier/Debug
/sourcecode/alpha/SWA4/DataTier/Release
/sourcecode/alpha/SWA4/Repository/obj
/sourcecode/alpha/SWA4/Repository/Debug
/sourcecode/alpha/SWA4/Repository/Release
/sourcecode/beta/SNAT3/.vs
/sourcecode/beta/SNAT3/SnaTester/obj
/sourcecode/beta/SNAT3/SnaTester/Debug
/sourcecode/beta/SNAT3/SnaTester/Release
/sourcecode/beta/SNAT3/LogicTier/obj
/sourcecode/beta/SNAT3/LogicTier/Debug
/sourcecode/beta/SNAT3/LogicTier/Release
/sourcecode/beta/SNAT3/Libs
/sourcecode/beta/SNAT3/SnaTester64/Debug
/sourcecode/beta/SNAT3/SnaTester64/Release
