################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/FolderProfile.pubxml.user
/.vs
/build
/installers/SdAccess
/installers/SdDbAccess_client
/installers/SnaTester
/sourcecode/alpha/SdRestApi/.vs
/sourcecode/alpha/SdRestApi/RestApi/obj
/sourcecode/alpha/SdRestApi/RestApi/bin/Debug
/sourcecode/alpha/SdRestApi/RestApi/bin/Release
/sourcecode/alpha/SdRestApi/LogicTier/obj
/sourcecode/alpha/SdRestApi/LogicTier/Debug
/sourcecode/alpha/SdRestApi/LogicTier/Release
/sourcecode/alpha/SdRestApi/DataTier/obj
/sourcecode/alpha/SdRestApi/DataTier/Debug
/sourcecode/alpha/SdRestApi/DataTier/Release
/sourcecode/alpha/SdRestApi/Repository/obj
/sourcecode/alpha/SdRestApi/Repository/Debug
/sourcecode/alpha/SdRestApi/Repository/Release
/sourcecode/alpha/SNAW3/.vs
/sourcecode/alpha/SNAW3/SdAccess/obj
/sourcecode/alpha/SNAW3/SdAccess/Debug
/sourcecode/alpha/SNAW3/SdAccess/Release
/sourcecode/beta/SNAT3/.vs
/sourcecode/beta/SNAT3/SnaTester/obj
/sourcecode/beta/SNAT3/SnaTester/Debug
/sourcecode/beta/SNAT3/SnaTester/Release
/sourcecode/beta/SNAT3/LogicTier/obj
/sourcecode/beta/SNAT3/LogicTier/Debug
/sourcecode/beta/SNAT3/LogicTier/Release
/sourcecode/beta/SNAT3/Libs
/sourcecode/beta/SNAT3/SnaTester64/Debug
/sourcecode/beta/SNAT3/SnaTester64/Release
