################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build
/installers/SdAccess
/installers/SdDbAccess_client
/installers/SnaTester
/sourcecode/alpha/SNAW3/.vs
/sourcecode/alpha/SNAW3/SdAccess/obj
/sourcecode/alpha/SNAW3/SdAccess/Debug
/sourcecode/alpha/SNAW3/SdAccess/Release
/sourcecode/beta/SDA4/.vs
/sourcecode/beta/SDA4/SdDbAccess/bin
/sourcecode/beta/SDA4/SdDbAccess/obj
/sourcecode/beta/SDA4/DataTier/obj
/sourcecode/beta/SDA4/DataTier/Debug
/sourcecode/beta/SDA4/DataTier/Release
/sourcecode/beta/SDA4/LogicTier/obj
/sourcecode/beta/SDA4/LogicTier/Debug
/sourcecode/beta/SDA4/LogicTier/Release
/sourcecode/beta/SDA4/Repository/obj
/sourcecode/beta/SDA4/Repository/Debug
/sourcecode/beta/SDA4/Repository/Release
/sourcecode/beta/SNAT3/.vs
/sourcecode/beta/SNAT3/SnaTester/obj
/sourcecode/beta/SNAT3/SnaTester/Debug
/sourcecode/beta/SNAT3/SnaTester/Release
/sourcecode/beta/SNAT3/LogicTier/obj
/sourcecode/beta/SNAT3/LogicTier/Debug
/sourcecode/beta/SNAT3/LogicTier/Release
/sourcecode/beta/SNAT3/Libs
/sourcecode/beta/SNAT3/SnaTester64/Debug
/sourcecode/beta/SNAT3/SnaTester64/Release
